textarea {
    background-color: rgb(251, 252, 216) !important;
    border: 1px solid silver !important;
    /* border-radius: 5px; */
}   

input {
    border: 1px solid #e5e5e5 !important;
    /* border-radius: 5px !important;  */
}

select {
    border: 1px solid #e5e5e5 !important;
    /* border-radius: 5px !important; */
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: .63rem;
    font-weight: 700;
    padding: 9px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: white;
    background-color: #229bcf;
    display: inline-block;
    transition-duration: 400ms;
}

.inputfile:focus + label,
.inputfile + label:hover {
    transition-duration: 400ms;
    background-color: #1e86b3;
    
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}