<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <!-- sidebar-brand  -->
        <div class="sidebar-item sidebar-brand" style="height: auto;">
           <div class="row">
               <div class="col-12">
                    <img src="/reembolsos/assets/img/logo.png" alt="logo" style="width: 100%">
               </div>
           </div>
        </div>
        <!-- sidebar-header  -->
        <!-- <div class="sidebar-item sidebar-header d-flex flex-nowrap">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="/reembolsos/assets/img/img-sidebar/default-user.jpg" alt="User picture">
            </div>
            <div class="user-info">
                <span id="user-name"></span>
                <span id="user-role"></span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>                 -->
        <!-- sidebar-menu  -->
        <div class=" sidebar-item sidebar-menu">
            <br>
            <ul>                     
                                 
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-desktop"></i>
                        <span class="menu-text">Reembolsos</span>
                       
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/reembolsos/reembolsos/nuevo reembolso/index.php">Nuevo Reembolso</a>
                            </li>
                            <li>
                                <a href="/reembolsos/reembolsos/historial de reembolsos/index.php">
                                    <span class="menu-text">Historial Reembolsos</span>
                                    <span class="badge badge-pill badge-danger" id="notify-historial-rembolsos"></span>
                                </a>
                                
                            </li>
                            
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-users"></i>
                        <span class="menu-text">Usuarios</span>
                       
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/reembolsos/usuarios/nuevo usuario/index.php">Nuevo Usuario</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="http://187.188.40.90:8081/EYPO/">
                        <i class="fas fa-table"></i>
                        <span class="menu-text">Addon de ventas</span>                                
                    </a>
                </li>     
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-footer  -->
    <div class="sidebar-footer">
        <!-- <div class="dropdown">

            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
                <div class="notifications-header">
                    <i class="fa fa-bell"></i>
                    Notifications
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-check text-success border border-success"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                            <div class="notification-time">
                                6 minutes ago
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-exclamation text-info border border-info"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                            <div class="notification-time">
                                Today
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                            <div class="notification-time">
                                Yesterday
                            </div>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="#">View all notifications</a>
            </div>
        </div> -->
        <!-- <div class="dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
                <div class="messages-header">
                    <i class="fa fa-envelope"></i>
                    Messages
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="/siscontrol/assets/img/img-sidebar/default-user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                        </div>
                    </div>

                </a>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="/siscontrol/assets/img/img-sidebar/default-user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                        </div>
                    </div>

                </a>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="/siscontrol/assets/img/img-sidebar/default-user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="#">View all messages</a>

            </div>
        </div> -->
        <!-- <div>
            <a href="/siscontrol/configuracion/index.php" tilte="Configuración">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
        </div> -->
        <div>
            <a href="#" title="log out" id="log-out">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
        <div class="pinned-footer">
            <a href="#">
                <i class="fas fa-ellipsis-h"></i>
            </a>
        </div>
    </div>
</nav>
