<footer>
    
    <!-- JQuery v3.5.1  || Pooper || Bootstrap v4.6.0 -->
    <script src="/reembolsos/assets/js/core/jquery.min.js"></script>
    <script src="/reembolsos/assets/js/core/popper.min.js"></script>
    <script src="/reembolsos/assets/js/core/bootstrap.min.js"></script>
    <script src="/reembolsos/assets/js/core/bootstrap-notify.js"></script> 

    <!-- PRO Sidebar scripts -->
     <!-- <script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> -->
     <script src="/reembolsos/assets/js/plugins/mCustomScrollbar.min.js"></script>
     <script src="/reembolsos/sidebar/js/main.js"></script>
 
     <!-- Pluggins scripts -->  
     <script src="/reembolsos/assets/js/plugins/dataTables.js"></script>
     <script src="/reembolsos/assets/js/plugins/moment/moment.min.js"></script>
     <script src="/reembolsos/assets/js/plugins/daterangepicker.js"></script>
     <script src="/reembolsos/assets/js/plugins/moment/locale/es-mx.js"></script>

    <!-- Classes JS -->
    <script src="/reembolsos/assets/js/classes/message.js"></script>
    <script src="/reembolsos/assets/js/classes/notifys.js"></script>

     
    
</footer>