<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles Bootstrap || Bootwatch -->
    <link rel="stylesheet" href="/reembolsos/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/reembolsos/assets/css/bootswatch/bootswatch.min.css">

    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- Css Animated Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Sidebar styles -->  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">     
    <!-- <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css"> -->
    <link rel="stylesheet" href="/reembolsos/assets/css/css-sidebar/mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/reembolsos/assets/css/css-sidebar/sidebar-main.css">
    <link rel="stylesheet" href="/reembolsos/assets/css/css-sidebar/sidebar-themes.css">    

    <!-- Tables style -->
    <link rel="stylesheet" href="/reembolsos/assets/css/css-tables/table-style.css">
    <link rel="stylesheet" href="/reembolsos/assets/css/css-tables/table-custom.css">

    <!-- Modal style -->
    <link rel="stylesheet" href="/reembolsos/assets/css/css-modal/style-modal.css">

     <!-- Form style -->
     <link rel="stylesheet" href="/reembolsos/assets/css/css-forms/style-forms.css">

     <!-- date range style -->
     <link rel="stylesheet" href="/reembolsos/assets/css/daterangepicker.css">

    <title>Reembolsos</title>
</head>