<div class="modal fade" id="modal-add-xml" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Selecciona un solo archivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <input type="file" id="input-add-mxl">
                    
                        
            </div>
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" id="btn-add-xml"><span class="material-icons align-middle">add</span>Agregar</button>
            </div>
        </div>
    </div>
</div>