<div class="modal fade" id="modal-add-xml-masive" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Selecciona tus archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <p class="h4 mt-3 mb-2">Puedese seleccionar más de un archivo a la vez</p>
                <input type="file" id="input" multiple="true" class="mb-5">
                    
                        
            </div>
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" id="btn-add-xml"><span class="material-icons align-middle">add</span>Agregar</button>
            </div>
        </div>
    </div>
</div>